<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
  <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
  <style>
     @media (min-height: 320px) {
    .ui.footer.index-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  </style>
  <script>
  $(function(){
    $('#bar').click(function() {
        $('.ui.labeled.icon.sidebar').sidebar('toggle');
    });
  });

</script>
</head>
<body>
Replace this page with the landing page. <br />
Go to <a href="dashboard"> dashboard. </a>
</body>
</html>
